@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

#container {
  position: relative;
  overflow: hidden;
}

.highlight {
  position: absolute;
  width: 70%;
  height: 30%;
  background: radial-gradient(
    ellipse farthest-side,
    #0f182c,
    rgba(255, 255, 255, 0)
  );
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: screen;
  animation:
    highlight-scale 0.3s ease-out,
    highlight-fade 0.5s ease-in-out 0.2s;
}

@keyframes highlight-scale {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes highlight-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* loader */
.loader {
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 40px;
  opacity: 0.8;
}
.loader:before {
  content: "{";
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader:after {
  content: "}";
  display: inline-block;
  animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
